$pageWidth:1170px;
$mainBoxWidth:798px;
$sidebarWidth:356px;
$themeColor: #5c87d9;
$navHeight: 64px;
$mainFontColor:#212121;
$bannerWidth: $mainBoxWidth;
$bannerHeight:202px;
$assistFontColor:#c9c9c9;
$lineColor:#eee;
