<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    
    {% endblock %}</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_970281_x4zt79i68k.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    {% block head %}
    
    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a> <!--a标签是行内元素，里面没有内容的话，宽度和高度都是为0-->
            </div>
            <ul class="nav">
                <li class="active"><a href="/" >创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费咨询</a></li>
                <li><a href="#">搜索</a></li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont" ></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    {% block main %}{% endblock %}

    <footer class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="logo-box">

                </div>
                <div class="detail-group">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="#">关于小饭桌</a></li>
                            <li><a href="#">创业课堂</a></li>
                            <li><a href="#">寻求报道</a></li>
                            <li><a href="#">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们：</span>
                            <ul class="social-group">
                                <li class="weixin">
                                    <span class="text">ljc007</span>
                                    <div class="wx-qrcode">

                                    </div>
                                </li>
                                <li class="weibo">
                                    <a class="text" href="#">猎鲸船起航</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="line2">
                        <p class="address">地址：浙江省杭州市西湖区文新街道五联西苑201</p>
                        <p class="content">联系方式：18367150862</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="bottom-group">
            @杭州猎鲸船投资有限公司 浙ICP备17089840-1
        </div>
    </footer>

</body>

</html>