<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/news/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_970281_x4zt79i68k.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a> <!--a标签是行内元素，里面没有内容的话，宽度和高度都是为0-->
            </div>
            <ul class="nav">
                <li class="active"><a href="/" >创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费咨询</a></li>
                <li><a href="#">搜索</a></li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont" ></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1544150102_68.jpg" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1544150102_68.jpg" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1544150102_68.jpg" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1544150102_68.jpg" alt="">
                           </a>
                        </li><li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1544150102_68.jpg" alt="">
                           </a>
                        </li><li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1544150102_68.jpg" alt="">
                           </a>
                        </li>

                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control" id="page-control">

                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新资讯</a></li>
                        <li><a href="#">热点</a></li>
                        <li><a href="#">深度报道</a></li>
                        <li><a href="#">干活分享</a></li>
                        <li><a href="#">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1546099706_695.png-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">企迈云商A轮融资5000万 凡创资本领投</a></p>
                                <p class="desc">此次融资将主要用于产品的迭代和升级，加强产品功能研发，以覆盖更多线下服务场景；同时引入人才、加强市场推广和商家落地运营扶持。 </p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一十小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1546062514_615.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">吴晓波：马化腾说ofo就败在一票否决？我看不止</a></p>
                                <p class="desc">回望过去，共享单车行业的消失以及ofo的大败局，应该是风险资本和产业资本联手捧杀的结果，这样的结论既可笑又可怕</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一十小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1546049161_142.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">早报：拼多多屏蔽权健商品；苏宁易购清空阿里股票；Facebook否认小扎卸任董事长</a></p>
                                <p class="desc">万家乐被捕董事长拒签文件 翰晟清算受阻</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">二十小时前</span>
                                    <span class="author">路边社</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul class="load-more-group">
                        <button class="load-more">
                            查看更多
                        </button>
                    </ul>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂
                    </span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="advertise-group">
                    <a href="#">                    <img src="https://static-image.xfz.cn/1544148757_235.png-website.active.list" alt="">
</a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注小饭桌</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="zhi-hu"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="wei-bo"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="tou-tiao"><a href="#" target="_blank">小饭桌</a></li>
                        </ul>
                        <ul class="right-group">
                            <p class="desc">
                                扫码关注小饭桌公众号xfz008
                            </p>
                        </ul>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">小熊U租获京东数千万元A+轮融资，实现与京东产业链深度融合</a>
                                </p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1545893599_584.jpg-website.news.list" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="logo-box">

                </div>
                <div class="detail-group">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="#">关于小饭桌</a></li>
                            <li><a href="#">创业课堂</a></li>
                            <li><a href="#">寻求报道</a></li>
                            <li><a href="#">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们：</span>
                            <ul class="social-group">
                                <li class="weixin">
                                    <span class="text">ljc007</span>
                                    <div class="wx-qrcode">

                                    </div>
                                </li>
                                <li class="weibo">
                                    <a class="text" href="#">猎鲸船起航</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="line2">
                        <p class="address">地址：浙江省杭州市西湖区文新街道五联西苑201</p>
                        <p class="content">联系方式：18367150862</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="bottom-group">
            @杭州猎鲸船投资有限公司 浙ICP备17089840-1
        </div>
    </footer>

</body>

</html>