@import "../common/header.scss";
@import "../common/footer.scss";
@import "../common/body.scss";
@import "../common/constants.scss";
@import "../common/init.scss";



.main{
    margin-top: 64px;
    .course-nav{
        overflow: hidden;
        $courseNavHeight:54 px;
        width: 100%;
        height: $courseNavHeight;
        box-shadow: 0 4px 5px rgba(0,0,0,0.1);
        line-height: $courseNavHeight;//垂直居中

        .nav-container{
            width: $pageWidth;
            height: $courseNavHeight;
            margin: 0 auto;//居中
            overflow: hidden;

            h3.title{
                float: left;
                color: #696969;
                font-size: 24px;
            }
            .nav-list{
                float: left;
                margin-left: 100px;

                li{
                    list-style: none;
                    float: left;
                    margin-right: 100px;
                  line-height: 50px;//垂直居中


                    a{
                        color: #888;
                        text-decoration: none;
                    }
                    &.active{
                        a{
                            color: $mainFontColor;

                        }
                    }
                }
             }
        }
    }

    .wrapper{
        .course-list{
            padding: 0;

            float: left;
            margin-top: 20px;
            list-style: none;
            display: flex;//采用flex布局
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            li{
                width: 278px;
                height: 280px;
                background: #f5ffef;
                margin-top: 20px;
                a{
                  text-decoration: none;
                }
                .thumbnail-group{
                    width: 100%;
                    height: 158px;
                  img{
                    width: 100%;
                    height: 100%;
                  }

                }
                .course-info{
                    padding: 16px;
                    width: 100%;
                    box-sizing: border-box;
                    height: 122px;
                    position: relative;
                   .title{
                      color: $mainFontColor;
                   }
                   .author{
                      color: $assistFontColor;
                      margin-top: 10px;
                      font-size: 14px;
                   }
                   .price-group{
                      position: absolute;
                      left: 16px;
                      right: 16px;
                      bottom: 16px;
                      text-align: right;//行内元素，居左居右居中

                     .free{
                        color: rgb(126,211,33);
                     }
                     .pay{
                        color: rgb(245,74,74);
                     }
                   }
                }
                &:hover{
                    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
                }


            }
        }
    }
}